<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="/wiz-hat.png">
    <link rel="stylesheet" href="/stylesheet.css" type="text/css">
    <title>Jia n Stu</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/students">View Students</a></li>
        <li><a href="/student/new">Enrol Here!</a></li>
<!--         <li><a href=""></a></li> -->
      </ul>
    </nav>

    <%= yield %>

  </body>

</html>